@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optimiser le rendu des polices */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Optimiser les animations */
@layer utilities {
  .will-change-transform {
    will-change: transform;
  }
  
  .hardware-accelerated {
    transform: translateZ(0);
  }
}